.navbar{
    border-bottom: 20px 20px 0px 0px;
    position: sticky;
    top: 0;
    z-index: 10;
}
/* .menu-bar{
    display: none;
}

@media only screen and (max-width: 768px) {
    .menu-bar{
        display: block;
    }
  } */